<%- include('../partials/header.ejs') %>

    <div class="user-edit">
        <h2>Editar usuario</h2>
        <form class="formNew" action="/usuarios/edit/<%= usuario.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <label for="nombre">Nombre:</label>
            <input id="nombre" name="nombre" type="text" value="<%= usuario.nombre %>">
    
            <label for="email">Email:</label>
            <input id="email" name="email" type="text" value="<%= usuario.email %>">

            <div>
            <label for="imagen_usuario">Cambiar imagen de perfil</label>
            <% if (usuario.imagen) { %>
             <p>Imagen actual</p>
             <img src="/imagen/usuarios/<%= usuario.imagen %>" alt="<%=Usuario.nombre%>">
            <% } %>
            <input type="file"
                    id="imagen_usuario"
                    name="imagen_usuario"
                    accept="image/*"
            >
        </div>
    
            <button type="submit">Enviar</button>
        </form>
    </div>

<%- include('../partials/footer.ejs') %>